* {
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: #1b74e4;
}

#searchbtn {
    background-color: black;
    color: white;
}

.btn{
    background-color: aqua;
}

/* Descendant Selector ₹*/
p a{
    color:purple;
    background-color: yellow;
}

