div{
    height: 300px;
    width: 300px;
    background-color: cadetblue;
    /* transition: 2s; */
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 1s ease-in-out 2s;
}
div:hover{
    /* background-color: black;
    border-radius: 50%; */
    margin-top: 400px;
}